@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2"),
    url("../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
    url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"),
    url("../fonts/IBMPlexMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "iA Writer Duospace";
  src: url("../fonts/iAWriterDuospace-Bold.woff2") format("woff2"),
    url("../fonts/iAWriterDuospace-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
