.aside {
  padding: 48px 0;
  width: 140px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  font-family: "Space Mono";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: auto;
}

.aside::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

.aside::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

.aside::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

.aside .line {
  width: 13px;
  height: 1px;
  margin: 50px 0;
  background-color: white;
  -webkit-transform: rotate(19deg);
  -ms-transform: rotate(19deg);
  transform: rotate(19deg);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.naviagate {
  color: white;
  font-size: 21px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block;
  cursor: pointer;
}

.naviagate.active {
  color: #f75d19;
}

.main {
  width: 100%;
  padding-left: 140px;
}

.home {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home > div {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 115px;
  background-color: #6239f7;
}

.home .dragable {
  position: absolute;
  z-index: 2;
  cursor: url(../img/cursor-2.png), pointer;
  width: 25.8%;
  left: 56.3%;
  top: 34.8%;
}

.home .dragable .close {
  position: absolute;
  top: 35px;
  right: 25px;
  cursor: url(../img/cursor-2.png), pointer;
  z-index: 4;
}

.home .dragable:last-child {
  width: 51.2%;
  left: 6.6%;
  top: 17.3%;
}

.home .dragable img:first-child {
  top: 5%;
  right: 3%;
  height: 10%;
  width: auto;
}

.home .dragable img:last-child {
  width: 100%;
  height: auto;
}

.logo {
  height: 90px;
  width: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.cover {
  width: 100%;
  height: 100%;
  z-index: -1 !important;
  position: relative !important;
}

.home .back {
  position: relative;
}

.home .back img {
  position: absolute;
  z-index: 3;
}

.home .back img:nth-child(2) {
  width: 13.6%;
  top: 0;
  right: 20.7%;
  z-index: 1;
}

.home .back img:nth-child(3) {
  width: 13.8%;
  top: 21.2%;
  right: 6.7%;
}

.home .back img:nth-child(4) {
  width: 16.9%;
  bottom: 5.3%;
  left: 4.4%;
}

.home .back img:nth-child(5),
.home .back img:nth-child(6) {
  display: none;
}

.home .back img:last-child {
  width: 30.3%;
  bottom: 0%;
  right: 29.9%;
}

.info {
  width: 100%;
  padding: 104px 138px;
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info img {
  height: 100%;
  padding: 0 20px;
  width: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info p {
  font-family: "Helvetica Neue";
  font-size: 21px;
  line-height: 28px;
  color: black;
  max-width: 412px;
}

.speakers {
  width: 100%;
  background-color: #6239f7;
}

.speakers__container {
  width: 100%;
  height: 100%;
  padding: 91px 0;
  padding-left: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.speakers__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 80px;
  color: black;
  font-family: "Space Mono";
  font-weight: bold;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.speakers__title {
  font-size: 62.73px;
  line-height: 85.14px;
}

.speakers__link {
  margin-top: 27px;
  line-height: 96.03px;
  padding: 0 89px;
  border: 4px solid black;
  border-radius: 30.67px;
  font-size: 40px;
}

.speakers__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  height: 615px;
}

.speakers__back {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.speakers__back > img {
  position: absolute;
  z-index: 3;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.speakers__back > img.visible {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.speakers__back > img.hidden {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.speakers__back > img:first-child {
  top: -39px;
  left: 505px;
}

.speakers__back > img:nth-child(2) {
  top: 102px;
  left: 400px;
}

.speakers__back > img:nth-child(3) {
  bottom: 0;
  right: 810px;
}

.speakers__back > img:nth-child(4) {
  bottom: 136px;
  right: 546px;
}

.speakers__back > img:nth-child(5) {
  bottom: -30px;
  right: 360px;
}

.speakers__back > img:nth-child(6) {
  bottom: 0;
  left: 59px;
}

.speakers__back > img:nth-child(7) {
  bottom: 0;
  right: 332px;
  cursor: url(../img/cursor-2.png), pointer;
}

.speakers__back > img:nth-child(8) {
  bottom: 0;
  left: 0px;
  cursor: url(../img/cursor-2.png), pointer;
}

.speakers__slider {
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.speakers__group {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.speaker {
  position: absolute;
  width: 331px;
  pointer-events: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: white;
  border-radius: 25.54px;
}

.speaker .image-wrapper {
  width: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
  max-height: 329px;
  padding: 0;
  padding-top: 30px;
  border-radius: 0 0 25.54px 25.54px;
  display: block;
  z-index: 20;
}

.speaker .image-wrapper img {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  width: 90%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  cursor: url(../img/cursor.png), auto;
}

.speaker .image-wrapper .circles {
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border: 5px solid #f75d19;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.speaker .image-wrapper .circles::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  border-radius: 50%;
  border: 5px solid #f75d19;
}

.speaker .image-wrapper .circles::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 5px solid #f75d19;
}

.speaker > .info {
  padding: 0;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  right: -293px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 0;
  background-color: transparent;
  z-index: 21;
}

.speaker > .info img {
  width: 88.45px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 15px;
  margin-top: 10px;
}

.speaker > .info p {
  max-width: 235px;
  line-height: 33.6px;
  font-size: 28px;
  color: black;
  font-family: "iA Writer Duospace";
  font-weight: bold;
}

.speaker > .info span {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
}

.speaker > .info div {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  font-size: 25.36px;
  line-height: 40px;
  color: black;
  background-color: #f75d19;
  padding: 0 23px;
  position: absolute;
  bottom: -50px;
  left: 0;
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
}

.speaker:first-child {
  top: 220px;
  left: -213px;
  z-index: 8;
}

.speaker:nth-child(2) {
  top: 220px;
  left: 237px;
  z-index: 5;
}

.speaker:nth-child(3) {
  top: 30px;
  left: 685px;
  z-index: 6;
}

.speaker:nth-child(4) {
  top: 95px;
  right: 135px;
  z-index: 7;
}

.speaker > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 68px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 22px;
  padding-right: 10px;
  background-color: #cccccc;
  border-radius: 25.54px 25.54px 0 0;
}

.speaker > div > span {
  font-size: 26px;
  line-height: 32px;
  color: black;
  font-family: "Space Mono";
  max-width: calc(100% - 30px);
}

.speaker > div > img {
  cursor: url(../img/cursor-2.png), pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: auto;
}

.speaker > img {
  width: 100%;
  max-height: 329px;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0 0 25.54px 25.54px;
}

.speakers__group.active .speaker:first-child {
  left: 0;
  top: 30px;
  z-index: 4;
}

.speaker.small {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.speaker.small:nth-child(2) {
  top: 100px;
  left: 50px;
}

.speaker.small:nth-child(3) {
  bottom: 0;
  left: 0;
  top: auto;
  z-index: 9;
}

.speaker.active {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-100%, -50%) !important;
  -ms-transform: translate(-100%, -50%) !important;
  transform: translate(-100%, -50%) !important;
  z-index: 100 !important;
}

.speaker.active > div > img {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.speaker.active > .info {
  -webkit-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

.topics {
  width: 100%;
  background-color: white;
  padding: 90px 108px;
}

.topics__title {
  padding-left: 57px;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 62.73px;
  line-height: 63.77px;
  color: #6239f7;
  padding-bottom: 89px;
}

.topics__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -48px;
}

.topics__list li {
  padding-left: 58px;
  width: calc((100% - 146px) / 3);
  margin-bottom: 45px;
  margin-left: 48px;
}

.topics__list li h4 {
  position: relative;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #6239f7;
  margin-bottom: 11px;
}

.topics__list li h4::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-100%, 50%);
  -ms-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
  left: -17px;
  width: 41px;
  height: 3px;
  background-color: #6239f7;
}

.orange {
  width: 100%;
  height: 28px;
  background-color: #f75d19;
}

.agenda {
  width: 100%;
  padding: 96px 150px;
  background-color: #6239f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.agenda > .right {
  padding-top: 53px;
  margin-left: 30px;
}

.agenda > .left {
  width: 74%;
  position: relative;
}

.agenda__title {
  padding-left: 57px;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 62.73px;
  color: black;
  line-height: 63.77px;
  padding-bottom: 83px;
}

.agenda__day {
  width: 145.33px;
  margin-bottom: 65px;
  cursor: url(../img/cursor-2.png), pointer;
  font-family: "Space Mono";
  font-weight: bold;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.agenda__day > .month {
  width: 100%;
  text-align: center;
  line-height: 53px;
  font-size: 35px;
  background-color: #f75d19;
  display: block;
  border-radius: 18px 18px 0 0;
}

.agenda__day > .number {
  display: block;
  line-height: 93px;
  width: 100%;
  text-align: center;
  font-size: 55px;
  border-radius: 0 0 18px 18px;
  background-color: white;
}

.agenda__scketch {
  width: 145px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  border-radius: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url(../img/cursor-2.png), pointer;
}

.agenda__info {
  width: 100%;
  position: relative;
}

.agenda__button {
  position: absolute;
  top: 149px;
  right: 60px;
  cursor: url(../img/cursor-2.png), pointer;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.agenda__header {
  width: 100%;
  border-radius: 30.67px 30.67px 0 0;
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 58px;
  padding-right: 37px;
}

.agenda h6 {
  font-size: 40px;
  line-height: 99px;
  color: black;
  font-family: "Space Mono";
  font-weight: bold;
}

.agenda__body {
  width: 100%;
  height: 679px;
  border-radius: 0 0 30.67px 30.67px;
  background-color: white;
  padding: 54px 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.agenda__arrows {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.agenda__arrows img {
  cursor: url(../img/cursor-2.png), pointer;
  display: block;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.agenda__arrows img:first-child {
  margin-bottom: 15px;
}

.agenda__container {
  max-width: 817.66px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.agenda__slider {
  width: 100%;
  height: 0;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: translateY(0) scale(0);
  -ms-transform: translateY(0) scale(0);
  transform: translateY(0) scale(0);
}

.agenda__slider.active {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  height: auto !important;
}

.agenda__item {
  width: 100%;
  padding-bottom: 11px;
  margin-bottom: 6px;
  border-bottom: 3px solid #cecece;
}

.agenda__time {
  color: #f75d19;
  font-size: 24px;
  line-height: 41px;
  font-weight: bold;
}

.agenda__speaker {
  font-family: "Helvetica Neue";
  font-weight: bold;
  line-height: 25px;
  font-size: 21px;
  color: black;
}

.agenda__speaker span {
  font-style: italic;
  color: #6239f7;
  padding-right: 30px;
}

.agenda__text {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  font-size: 21px;
  line-height: 28px;
  padding-top: 5px;
}

#agendaPrev {
  opacity: 0;
  pointer-events: none;
}

.tickets {
  width: 100%;
  background-color: #6239f7;
  padding: 0 74px;
  padding-top: 96px;
  margin-top: -4px;
}

.tickets__title {
  color: black;
  font-size: 62.73px;
  line-height: 63.77px;
  font-family: "Space Mono";
  font-weight: bold;
  padding-bottom: 89px;
}

.tickets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-bottom: 96px;
}

.ticket {
  width: calc((100% - 200px) / 3);
}

.ticket:hover .ticket__button {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.ticket > h4 {
  color: black;
  padding-bottom: 38px;
  font-size: 40px;
  font-family: "Space Mono";
  font-weight: bold;
  -webkit-transition: 1s cubic-bezier(0.42, 0, 0, 1.17);
  -o-transition: 1s cubic-bezier(0.42, 0, 0, 1.17);
  transition: 1s cubic-bezier(0.42, 0, 0, 1.17);
}

.ticket__line {
  width: 100%;
  height: 4px;
  background-color: black;
  margin-bottom: 20px;
}

.ticket__access {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ticket__access > span {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  font-size: 21px;
  line-height: 28px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 10px;
}

.ticket__access__list span {
  font-size: 21px;
  line-height: 28px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  display: block;
}

.ticket__access__list > .private span:first-child {
  padding-top: 28px;
}

.ticket__access .price {
  color: white;
  text-align: end;
  font-size: 40px;
  font-family: "Space Mono";
  font-weight: bold;
  padding-top: 40px;
  cursor: url(../img/cursor-2.png), pointer;
  padding-bottom: 60px;
  -webkit-transition: 1s cubic-bezier(0.42, 0, 0, 1.17);
  -o-transition: 1s cubic-bezier(0.42, 0, 0, 1.17);
  transition: 1s cubic-bezier(0.42, 0, 0, 1.17);
}

.ticket__button {
  line-height: 96px;
  border: 4px solid black;
  border-radius: 30.67px;
  cursor: url(../img/cursor-2.png), pointer;
  color: black;
  font-size: 40px;
  font-family: "Space Mono";
  font-weight: bold;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.ticket.open h4 {
  position: fixed;
  padding: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 15px;
  z-index: 201;
}

.ticket.open .price {
  position: fixed;
  padding: 0;
  left: calc((100% - 1640px) / 2);
  top: 15px;
  z-index: 201;
}

.partners {
  padding: 0 131px;
  padding-top: 89px;
  padding-bottom: 188px;
  background-color: #ffffff;
}

.partners__title {
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 62.73px;
  line-height: 63.77px;
  color: black;
  padding-bottom: 206px;
}

.partners ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.partners li {
  padding: 0 55px;
  padding-bottom: 62px;
  font-size: 40px;
  color: #cecece;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

.partners img {
  max-height: 198px;
  max-width: 279px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 62px;
}

.guide {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #6239f7;
}

.guide__container {
  width: 100%;
  padding: 0 103px;
  padding-top: 89px;
  padding-bottom: 49px;
}

.guide__title {
  padding-left: 57px;
  color: black;
  font-size: 62.73px;
  line-height: 63.77px;
  font-family: "Space Mono";
  font-weight: bold;
}

.guide__cover {
  width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guide .back {
  position: relative;
}

#guideDrag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.guide .dragable {
  position: absolute;
  cursor: url(../img/cursor-2.png), pointer;
}

.guide .dragable:first-child {
  width: 459.97px;
  height: auto;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 1;
}

.guide .dragable:nth-child(2) {
  width: 50%;
  z-index: 2;
  left: 103px;
  top: 238px;
}

.guide .dragable:nth-child(3) {
  width: 31.5%;
  z-index: 3;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.guide .dragable > img:first-child {
  position: absolute;
  top: 35px;
  right: 27px;
  cursor: url(../img/cursor-2.png), pointer;
}

.guide .dragable > img:last-child {
  height: 440.3px;
  width: auto;
}

.guide .dragable > div {
  width: 100%;
  min-height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 37px;
  background-color: #cecece;
  border-radius: 30.67px 30.67px 0 0;
}

.guide .dragable > div > img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 20px;
  cursor: url(../img/cursor-2.png), pointer;
}

.guide .dragable > div > h4 {
  color: black;
  font-size: 40px;
  font-family: "Space Mono";
  font-weight: bold;
}

.guide .dragable > p {
  color: black;
  font-size: 21px;
  line-height: 28px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  width: 100%;
  background-color: white;
  padding: 88px 69px 53px 60px;
  border-radius: 0 0 30.67px 30.67px;
}

.contact {
  width: 100%;
  padding: 0 139px;
  padding-top: 49px;
  padding-bottom: 105px;
  background-color: #6239f7;
  margin-top: -4px;
}

.contact__title {
  font-family: "Space Mono";
  font-weight: bold;
  color: black;
  font-size: 62.73px;
  line-height: 63.77px;
  padding-bottom: 54px;
}

.contact__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact span {
  font-family: "Helvetica Neue";
  font-size: 21px;
  color: black;
  line-height: 28px;
  font-weight: bold;
  display: block;
}

.contact img {
  height: 48px;
  width: auto;
}

.contact .center span {
  padding-left: 20px;
  display: inline-block;
}

.contact .center span:first-child {
  padding-left: 0;
}

.payment__header {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 70px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 200;
  background-color: #6239f7;
}

.payment > .payment__header::after {
  content: "";
  position: absolute;
  bottom: 200px;
  left: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  height: 25px;
  background-color: #f75d19;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.payment.open > .payment__header {
  left: 0;
}

.payment.open > .payment__header::after {
  bottom: 1px;
}

.payment__body {
  position: fixed;
  top: 94px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 94px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: #cecece;
  z-index: 200;
  overflow-y: auto;
}

.payment__body::-webkit-scrollbar-track {
  background-color: #cecece;
}

.payment__body::-webkit-scrollbar {
  width: 10px;
  background-color: #cecece;
}

.payment__body::-webkit-scrollbar-thumb {
  background-color: #cecece;
}

.payment.open > .payment__body {
  left: 0;
}

.payment__close {
  position: fixed;
  right: calc((100% - 1640px) / 2);
  top: -100px;
  height: 40px;
  width: auto;
  cursor: url(../img/cursor-2.png), pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 201;
}

.payment.open > .payment__close {
  top: 15px;
}

.payment__container {
  width: 600px;
  margin: 0 auto;
  padding: 50px 0;
}

.payment__types {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 50px;
  color: black;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 60px;
}

.payment__types div {
  position: relative;
  opacity: 0.6;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: url(../img/cursor-2.png), pointer;
}

.payment__types div::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 70%;
  height: 10px;
}

.payment__types div:first-child::after {
  background-color: #f75d19;
}

.payment__types div:last-child::after {
  background-color: #6239f7;
}

.payment__types div.active {
  opacity: 1;
}

.payment__form__wrapper {
  width: 100%;
}

.form {
  width: 0;
  height: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 0;
}

.form.active {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  padding-top: 50px;
}

.form > label {
  font-size: 16px;
  line-height: 21px;
  padding-left: 5px;
  padding-bottom: 6px;
  color: black;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  display: block;
}

.form > input {
  display: block;
  width: 100%;
  height: 55px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.5);
}

.form .student > label {
  padding-left: 5px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 21px;
  color: black;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  display: block;
}

.form .student > input {
  display: block;
  width: 100%;
  height: 55px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.5);
}

input.file {
  display: none !important;
}

label.file {
  position: relative;
  width: 100%;
  padding: 0;
  margin-top: 47px;
  margin-bottom: 20px;
  min-height: 55px;
  background-color: rgba(250, 250, 250, 0.5);
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  cursor: url(../img/cursor-2.png), pointer;
  color: black;
  line-height: normal !important;
  border-radius: 4px;
  word-break: break-all;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

label.file::before {
  content: "ID Picture";
  position: absolute;
  left: 5px;
  top: -6px;
  font-size: 16px;
  line-height: 21px;
  color: black;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: italic;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.form div {
  margin-bottom: 20px;
}

.form > div > label {
  font-family: "Space Mono";
  font-size: 16px;
  line-height: 21px;
  color: black;
}

.form label span {
  color: #f75d19;
  font-family: "iA Writer Duospace";
  font-weight: bold;
  cursor: url(../img/cursor-2.png), pointer;
}

.form button {
  width: 143px;
  line-height: 55px;
  font-size: 20px;
  color: black;
  font-family: "Helvetica Neue";
  font-weight: bold;
  border-radius: 10px;
  background-color: #f75d19;
  border: none;
  outline: transparent;
}

.form.dark label span {
  color: #6239f7;
}

.form.dark button {
  background-color: #6239f7;
}

.payment__promo {
  max-width: 357px;
  margin: 0 auto;
  height: 35px;
  position: relative;
  margin-bottom: 40px;
}

.payment__promo input {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 4px;
  padding-left: 10px;
}

.payment__promo div {
  position: absolute;
  top: 1px;
  right: 1px;
  color: #000;
  line-height: 33px;
  width: 143px;
  text-align: center;
  background-color: #f75d19;
  cursor: url(../img/cursor-2.png), pointer;
  border-radius: 0 4px 4px 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.payment__promo.dark div {
  background-color: #6239f7;
}

.policy__header {
  width: 100%;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #cecece;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3000;
  font-family: "Space Mono";
  font-weight: bold;
  color: #6239f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 0 calc((100% - 1640px) / 2);
}

.policy__header__visible {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.policy__content {
  position: fixed;
  top: 68px;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  overflow-y: auto;
  height: calc(100vh - 68px);
  background: #cecece;
  z-index: 30001;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 0 calc((100% - 1640px) / 2);
  width: 100%;
}

.policy__content::-webkit-scrollbar-track {
  background-color: #cecece;
}

.policy__content::-webkit-scrollbar {
  width: 10px;
  background-color: #cecece;
}

.policy__content::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

.policy__content__visible {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  padding-bottom: 30px !important;
}

.policy__title {
  font-size: 3.6rem;
}

.policy__line {
  margin-top: 40px;
  width: 100px;
  height: 3px;
  background-color: #6239f7;
  position: relative;
}

.policy__line::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #6239f7;
  right: -30px;
  top: 0;
}

.policy__text {
  font-family: "Space Mono";
  font-weight: normal;
  color: #6239f7;
  padding-top: 30px;
}

.policy__text.normal {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
}

.policy__text.normal span,
.policy__text.normal a {
  text-decoration: underline;
  font-weight: bold;
  cursor: url(../img/cursor-2.png), pointer;
}

.policy__text.bold {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.policy__close {
  cursor: url(../img/cursor-2.png), pointer;
}

#notification {
  position: fixed;
  padding: 10px 15px;
  max-width: 40%;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Space Mono";
  color: black;
  top: 100px;
  left: -100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 5000;
}

#notification.success {
  background-color: #6239f7;
  left: 20px;
}

#notification.error {
  background-color: #f75d19;
  left: 20px;
}
